*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: super-mario-world;
  src: url(../fonts/Super-Mario-World.ttf);
}
.conte{
  height: 60rem;
  background-image: url(../images/fondo.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
}
.supp{
  font-family: super-mario-world;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mario{
  height: 100px;
  width: 100px;
  position: absolute;
  animation: mymove 15s infinite;
  bottom: 0px;
}

.text{
  height: 10vh;
}
@keyframes mymove {
  0%{top: 78%;}
  10%{top: 78%;}
  15%{top: 78%; left: 0px;}
  40%{top: 78% ; left: 59%;}
  41%{top: 65% ;left: 59%; }
  42%{top: 78%; left: 59%;}
  50%{ top: 78%; left: 65%;}
  60%{top: 50%; }
  65%{left: 75%;}
  70%{top: 50%; left: 80%;}
  71%{top:35% ; left: 80%;}
  72%{top: 50%; left: 80%;}
  90%{top: 50%; left: 90%;}
  100%{top: 30%; left: 100%;}
  
  
  
  
  

  
  
 
} 
